/* import the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

:root {
  --primary-color: $blue;
  --secondary-color: $gray-600;
  --success-color: $green;
  --info-color: $cyan;
  --warning-color: $yellow;
  --danger-color: $red;
  --light-color: $gray-100;
  --dark-color: $gray-800;
  --body-bg-color: #eee9e9;
  --body-color: #000000;
  --primary-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --secondary-font: Georgia, "Times New Roman", Times, serif;
  --font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@import "../bootstrap/scss/bootstrap";
$font-family-sans-serif: var(--primary-font);
$font-family-serif: var(--secondary-font);
$font-family-monospace: var(--font-monospace);
$font-family-base: $font-family-sans-serif;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$success: var(--success-color);
$info: var(--info-color);
$warning: var(--warning-color);
$danger: var(--danger-color);
$light: var(--light-color);
$dark: var(--dark-color);

$nav-bg: var(--nav-bg-color);
$body-bg: var(--body-bg-color);
$body-color: var(--body-color);
$link-color: $primary;
$theme-colors: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
        light: $light,
        dark: $dark
);

body {
  background-color: var(--body-bg-color) !important;
  color: var(--body-color) !important;
}

a {
  color: $link-color;
}

.bg-light {
  background-color: $nav-bg !important;
  color: $white;
}

.btn-primary {
  background-color: map-get($theme-colors, "primary");
  color: #fff;
  border-color: map-get($theme-colors, "primary");
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: map-get($theme-colors, "primary");
  border-color: map-get($theme-colors, "primary");
}

.btn-primary:hover {
  color: #fff;
  background-color: map-get($theme-colors, "primary");
  border-color: map-get($theme-colors, "primary");
}

.banner {
  position: relative;
  color: $white;
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.home-banner {
  background-image: url("../files/index/images/city-scoot-banner.jpg");
}

.routes-banner {
  background-image: url("../files/routes/images/routes-icon.png");
}

.p-text-cover{
  background: #0000004f;
}

.nav-breadcrumb {
  width: 100%;
  margin-top: 75px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  position: absolute;
}
